* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/*The first part of the document*/
body {
display: flex;
font-family: Arial, Helvetica, sans-serif;
background-color: silver;
}

header {
display: flex;
justify-content: space-between;
flex-wrap: wrap;
background-color: white;
padding: 15px 25px;
}
/*Header section*/
header h1{
font-weight: bold;
font-size: 40px;
margin: 0;

}

/*Nav section*/
nav {
    margin: 15px 0;
}
nav ul {
    display: flex;
    flex-wrap: wrap;
    justify-content:space-between;
    align-items: center;
    font-weight: lighter;
}
li {
    padding: 15px 20px;
    margin-top: 7px;
    margin-bottom: 10px;
}
a {
    padding: 15px 20px;
    font-size: 30px;
}
/*The classes for each main part*/
.section {
padding: 60px;

}

.title-article {

}

/*The main three sections of the portfolio*/
#about-me {

}

#work {

}

#contact-me {

}